---
import { Image } from 'astro:assets';
import bgImage from '../../public/bg.jpeg';
import welcomeImage from '../../public/welcome-image.png';
import Button from './Button.astro';
---

<div class="relative overflow-hidden">
  <Image class="absolute h-full w-full" src={bgImage} alt="Background image" />
  <div class="welcome-shape absolute bottom-0 right-0"></div>
  <section class="relative px-5 sm:px-8 md:px-10 lg:px-16 xl:px-5">
    <h1 class="text-h1-sm mb-3 pt-6 text-center">
      <span class="text-orange">CFD Trading</span>
      <br /> For All Traders
    </h1>
    <h4 class="text-h4-sm mb-4 text-center">Discover everything you need to trade in one place.</h4>
    <div class="mb-2"><Button text="get started" /></div>
    <p class="mb-2 text-center text-sm italic">77.77% of retail investor accounts lose money</p>
    <div class="mb-4 flex justify-center">
      <a class="text-orange text-link-sm cursor-pointer" href="/">I already have an account</a>
    </div>
    <img
      class="mx-auto"
      src={welcomeImage.src}
      width={welcomeImage.width}
      height={welcomeImage.height}
      alt="Trading terminal phone app"
    />
    <!-- <Image class="mx-auto" src={welcomeImage} quality={'max'} alt="Trading terminal phone app" /> -->
  </section>
</div>
